<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>Import CSV</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <b>import CSV</b>
    <div class="ion-padding">
      Status: {{ importSpec.status }}<br>
      READY?  {{ importSpec.ready }} <br>
      <ion-button (click)="importSpec.abort = !importSpec.abort">abort</ion-button>abort:{{ importSpec.abort }}<br>
      Input: <input type="file" id="files" (change)="fileInputChange()"><br><br>
      <b>Source URL:</b> <ion-input [(ngModel)]="importSpec.sourceURL" style="border: 1px;"></ion-input><br>
      <b>Supabase API URL:</b> <ion-input [(ngModel)]="importSpec.SUPABASE_URL" style="border: 1px solid; font-weight: bold;" (ionChange)="inputChange()"></ion-input><br>
      <b>Supabase ANON KEY:</b> <ion-input [(ngModel)]="importSpec.SUPABASE_KEY" style="border: 1px solid; font-weight: bold;" (ionChange)="inputChange()"></ion-input><br>
      <b>Destination Table:</b> <ion-input [(ngModel)]="importSpec.destinationTable" style="border: 1px solid; font-weight: bold;"></ion-input><br>
      <b>Quote Character:</b> <ion-input [(ngModel)]="importSpec.quoteChar" style="border: 1px solid; font-weight: bold;"></ion-input><br>

<br>      <ion-button (click)="reset()">RESET</ion-button>
<br>
<!--
<div>
  <pre><b>{{ importSpec.DDL }}</b></pre>
</div>
-->
        <ion-textarea [(ngModel)]="importSpec.DDL"></ion-textarea><br>
<!--
      sourceType: 'csv',
      sourceURL: 'https://media.githubusercontent.com/media/burggraf/datasets/main/slogans.txt',
      delimiter: '\t',
      enclosedBy: '',
      fieldNames: '',
      headerLine: '1',
      domain: '',
      port: '',
      database: '',
      user: '',
      password: '',
      destinationTable: '',
      truncate: '0',
      isReady: false,
      ddl: '',
      jobId: '',
      jobName: '',
      RESULTS: [],
  -->

      <ion-button (click)="start()" strong expand="block">Start</ion-button>


</div>
  </div>
</ion-content>
